# Part 1

In [0]:
pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/site-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/site-packages (from sklearn) (0.21.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/site-packages (from scikit-learn->sklearn) (0.14.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.3.2)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.17.4)
Note: you may need to restart the kernel to use updated packages.

In [0]:
pip install panda

Requirement already satisfied: panda in /usr/local/lib/python3.7/site-packages (0.3.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/site-packages (from panda) (2.22.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/site-packages (from panda) (41.6.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.7/site-packages (from requests->panda) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/site-packages (from requests->panda) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/site-packages (from requests->panda) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/site-packages (from requests->panda) (1.25.7)
Note: you may need to restart the kernel to use updated packages.

In [0]:
pip install fancyimpute

Requirement already satisfied: fancyimpute in /usr/local/lib/python3.7/site-packages (0.5.4)
Requirement already satisfied: scikit-learn>=0.21.2 in /usr/local/lib/python3.7/site-packages (from fancyimpute) (0.21.3)
Requirement already satisfied: cvxpy>=1.0.6 in /usr/local/lib/python3.7/site-packages (from fancyimpute) (1.0.25)
Requirement already satisfied: keras>=2.0.0 in /usr/local/lib/python3.7/site-packages (from fancyimpute) (2.3.1)
Requirement already satisfied: knnimpute in /usr/local/lib/python3.7/site-packages (from fancyimpute) (0.1.0)
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/site-packages (from fancyimpute) (2.0.0)
Requirement already satisfied: numpy>=1.10 in /usr/local/lib/python3.7/site-packages (from fancyimpute) (1.17.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/site-packages (from fancyimpute) (1.3.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/site-packages (from scikit-learn>=0.21.2->fancyimpute) (0.14.0)
Requirement already satisfied: six in /usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages (from cvxpy>=1.0.6->fancyimpute) (1.12.0)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.7/site-packages (from cvxpy>=1.0.6->fancyimpute) (0.70.9)
Requirement already satisfied: scs>=1.1.3 in /usr/local/lib/python3.7/site-packages (from cvxpy>=1.0.6->fancyimpute) (2.1.1.post2)
Requirement already satisfied: osqp>=0.4.1 in /usr/local/lib/python3.7/site-packages (from cvxpy>=1.0.6->fancyimpute) (0.6.1)
Requirement already satisfied: ecos>=2 in /usr/local/lib/python3.7/site-packages (from cvxpy>=1.0.6->fancyimpute) (2.0.7.post1)
Requirement already satisfied: keras-applications>=1.0.6 in /usr/local/lib/python3.7/site-packages (from keras>=2.0.0->fancyimpute) (1.0.8)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/site-packages (from keras>=2.0.0->fancyimpute) (5.1.2)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.7/site-packages (from keras>=2.0.0->fancyimpute) (1.1.0)
Requirement already satisfied: h5py in /usr/local/lib/python3.7/site-packages (from keras>=2.0.0->fancyimpute) (2.10.0)
Requirement already satisfied: tensorboard<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/site-packages (from tensorflow->fancyimpute) (2.0.1)
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.7/site-packages (from tensorflow->fancyimpute) (3.10.0)
Requirement already satisfied: gast==0.2.2 in /usr/local/lib/python3.7/site-packages (from tensorflow->fancyimpute) (0.2.2)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.7/site-packages (from tensorflow->fancyimpute) (0.8.1)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.25.0)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.7/site-packages (from tensorflow->fancyimpute) (0.8.0)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.7/site-packages (from tensorflow->fancyimpute) (0.1.8)
Requirement already satisfied: tensorflow-estimator<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/site-packages (from tensorflow->fancyimpute) (2.0.1)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.11.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/site-packages (from tensorflow->fancyimpute) (3.1.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.1.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/site-packages (from tensorflow->fancyimpute) (0.33.6)
Requirement already satisfied: dill>=0.3.1 in /usr/local/lib/python3.7/site-packages (from multiprocess->cvxpy>=1.0.6->fancyimpute) (0.3.1.1)
Requirement already satisfied: future in /usr/local/lib/python3.7/site-packages (from osqp>=0.4.1->cvxpy>=1.0.6->fancyimpute) (0.18.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (0.4.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (1.7.1)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (41.6.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (3.1.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (0.16.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (1.3.0)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (3.1.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (0.2.7)
Requirement already satisfied: rsa<4.1,>=3.1.4 in /usr/local/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (4.0)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (2.22.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (3.1.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (0.4.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (1.25.7)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow->fancyimpute) (2.8)
Note: you may need to restart the kernel to use updated packages.

In [0]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/site-packages (0.25.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/site-packages (from pandas) (1.17.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [0]:
pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/site-packages (3.1.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/site-packages (from matplotlib) (2.4.5)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/site-packages (from matplotlib) (1.17.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (41.6.0)
Note: you may need to restart the kernel to use updated packages.

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import Imputer  
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import mean_squared_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.impute import SimpleImputer
from sklearn.ensemble import VotingRegressor#create a dictionary of our models

##from fancyimpute import MICE

from sklearn.ensemble import AdaBoostRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import GridSearchCV
from sklearn import tree
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split


%matplotlib inline

In [0]:
from pprint import pprint
from sklearn.model_selection import RandomizedSearchCV #Importing RandomizedSearchCV for random forest regressor

In [97]:
train_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_train.csv', index_col=0)
test_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_test3.csv', index_col=0)
zips_df = pd.read_csv('https://raw.githubusercontent.com/jbiller123/Twirling-Orange-Northerners/master/zip_borough.csv', header=1, index_col=None, names=['zip','borough'])
test_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_test3.csv', index_col=0)
ext_df = pd.read_csv('https://raw.githubusercontent.com/jbiller123/Twirling-Orange-Northerners/master/cleaned_external.csv',index_col=None)
display(ext_df)
display(train_df)

     borough  population  ...  median_in come  availailable_land
0  Manhattan     1586360  ...           79781              22.83
1      Bronx     1384603  ...           36593              42.10
2     Queens     2230578  ...           62008             108.53
3   Brooklyn     2504717  ...           52782              70.82
4     Staten      468730  ...           76244              58.37

[5 rows x 9 columns]

          addr_unit  building_id  bedrooms  ...  unit  floornumber line
rental_id                                   ...
7236931        #22A       551248         4  ...   22A          NaN  NaN
7331920        #406         3373         0  ...   406          4.0   06
7139224        #18A        70747         3  ...   18A         18.0    A
7364827        #23E        42076         1  ...   23E         23.0    E
7242151         #3B       319156         3  ...    3B          3.0    B
...             ...          ...       ...  ...   ...          ...  ...
7411030        #33C        55852         2  ...   33C         33.0    C
7397836         #D3        45853         1  ...    D3          3.0    D
7154701        #20N        41170         0  ...   20N         20.0    N
7259554          #3       121453         2  ...     3          3.0  NaN
7422694         #2E       130567         0  ...    2E          2.0    E

[12000 rows x 38 columns]

In [0]:
train_df.rename(columns = {'addr_zip':'zip'}, inplace = True) 
test_df.rename(columns = {'addr_zip':'zip'}, inplace = True)

In [99]:
train_new_df=train_df.merge(zips_df, how='left',right_index=True, on = 'zip')
test_new_df=train_df.merge(zips_df, how='left',right_index=True, on = 'zip')
train_new_df.rename(columns = {'borough_x':'borough'}, inplace = True) 
test_new_df.rename(columns = {'borough_x':'borough'}, inplace = True) 
display(test_new_df)

          addr_unit  building_id  bedrooms  ...  floornumber  line borough_y
rental_id                                   ...
7236931        #22A       551248         4  ...          NaN   NaN       NaN
7331920        #406         3373         0  ...          4.0    06       NaN
7139224        #18A        70747         3  ...         18.0     A       NaN
7364827        #23E        42076         1  ...         23.0     E       NaN
7242151         #3B       319156         3  ...          3.0     B       NaN
...             ...          ...       ...  ...          ...   ...       ...
7411030        #33C        55852         2  ...         33.0     C       NaN
7397836         #D3        45853         1  ...          3.0     D       NaN
7154701        #20N        41170         0  ...         20.0     N       NaN
7259554          #3       121453         2  ...          3.0   NaN       NaN
7422694         #2E       130567         0  ...          2.0     E       NaN

[12000 rows x 39 columns]

In [109]:
train_new_df=train_df.merge(ext_df, how='right',right_index=True, on = 'borough')
test_new_df=train_df.merge(ext_df, how='right',right_index=True, on = 'borough')

test_new_df.head(1).transpose()

                                                                7236931.0
addr_unit                                                            #22A
building_id                                                        551248
bedrooms                                                                4
bathrooms                                                               3
size_sqft                                                            1300
created_at                                            2018-06-04 16:31:06
addr_street                                              645 OCEAN AVENUE
addr_city                                                        Brooklyn
zip                                                                 11226
addr_lat                                                           40.647
addr_lon                                                         -73.9601
bin                                                           3.11762e+06
bbl                                                           3.05124e+09
floor_count                                                             6
year_built                                                           1929
min_to_subway                                                        3.35
has_doorman                                                             0
has_elevator                                                            1
has_fireplace                                                           0
has_dishwasher                                                          1
is_furnished                                                            0
has_gym                                                                 0
allows_pets                                                             1
has_washer_dryer                                                        1
has_garage                                                              0
has_roofdeck                                                            0
has_concierge                                                           0
has_pool                                                                0
has_garden                                                              0
has_childrens_playroom                                                  0
rent                                                                 3925
no_fee                                                                  1
description             MAGNIFICENT GUT RENOVATED 4 BEDROOM 3 BATHROOM...
neighborhood                                                     Flatbush
borough                                                          Brooklyn
unit                                                                  22A
floornumber                                                           NaN
line                                                                  NaN
population                                                        2504717
num_units                                                         1053767
building_val                                                       623900
gross_rent                                                           1314
retail_sales                                                         8003
mean_travel_time                                                     42.4
median_in come                                                      52782
availailable_land                                                   70.82

#### Build training data

In [0]:
# extract usable features
feature_cols = [
    'bedrooms', 'bathrooms', 'floor_count', 'size_sqft',
    'has_washer_dryer', 'has_roofdeck', 'has_doorman', 'has_dishwasher',
    'population', 	'num_units', 	'building_val', 	'gross_rent', 	
    'retail_sales', 	'mean_travel_time', 	'median_in come', 	'availailable_land']
train_features = train_new_df[feature_cols] 

# impute missing values with imputer
imp = SimpleImputer(missing_values=np.nan, strategy='median')
imp.fit(train_features)
imp.transform(train_features)

# construct target vector
train_target = train_new_df['rent']

#### Fit models for training data

In [123]:
lreg = LinearRegression()
lreg.fit(train_features, train_target)

rf = RandomForestRegressor()
rf.fit(train_features, train_target)

br = BaggingRegressor(tree.DecisionTreeRegressor(random_state=1))
br.fit(train_features, train_target)

gb = GradientBoostingRegressor()
gb.fit(train_features, train_target)

ab = AdaBoostRegressor()
ab.fit(train_features, train_target)

knn = KNeighborsRegressor()#create a dictionary of all values we want to test for n_neighbors
params_knn = {'n_neighbors': np.arange(1, 25)}#use gridsearch to test all values for n_neighbors
knn_gs = GridSearchCV(knn, params_knn, cv=55)#fit model to training data
knn_gs.fit(train_features, train_target)

estimators=[('knn', knn_gs), ('rf', rf), ('lreg', lreg),('br',br),('ab',ab)]
voter = VotingRegressor(estimators)
voter.fit(train_features, train_target)

ValueError: ignored

In [0]:
knn = KNeighborsRegressor()#create a dictionary of all values we want to test for n_neighbors
params_knn = {'n_neighbors': np.arange(1, 25)}#use gridsearch to test all values for n_neighbors
knn_gs = GridSearchCV(knn, params_knn, cv=50)#fit model to training data
knn_gs.fit(train_features, train_target)

GridSearchCV(cv=50, error_score='raise-deprecating',
             estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30,
                                           metric='minkowski',
                                           metric_params=None, n_jobs=None,
                                           n_neighbors=5, p=2,
                                           weights='uniform'),
             iid='warn', n_jobs=None,
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [0]:
pprint(knn.get_params()) #Can test more KNN hyper paramters as well as the other models

{'algorithm': 'auto',
 'leaf_size': 30,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': None,
 'n_neighbors': 5,
 'p': 2,
 'weights': 'uniform'}

In [0]:
#pprint(rf.get_params()) #Checking hyper parameters of rf

#Creating our random grid to sample during fitting
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
max_features = ['auto', 'sqrt']
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
min_samples_split = [2, 5, 10]
min_samples_leaf = [1, 2, 4]
bootstrap = [True, False]

random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [0]:
rrf = RandomForestRegressor() #Base RFR for use in our RandomizedSCV
rf_random = RandomizedSearchCV(estimator = rrf, 
                               param_distributions = random_grid, 
                               n_iter = 10, cv = 3, verbose = 2,
                               random_state = 42, n_jobs = -1)

rf_random.fit(train_features, train_target)

Fitting 3 folds for each of 10 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:  2.0min finished

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators='warn',
                                                   n_jobs=None, oob_score=False,
                                                   random_sta...
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800, 2000]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [0]:
rf_random.best_params_   #Looking at best params

{'n_estimators': 2000,
 'min_samples_split': 5,
 'min_samples_leaf': 2,
 'max_features': 'auto',
 'max_depth': 50,
 'bootstrap': True}

In [0]:
best_random = rf_random.best_estimator_   #Setting new RSCV using best parameters
best_random.fit(train_features, train_target)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=50,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=2, min_samples_split=5,
                      min_weight_fraction_leaf=0.0, n_estimators=2000,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

#### Predict and Measure Using Test 1

In [0]:
test_features = test_df[feature_cols] 

# impute missing values with medians
imp = SimpleImputer(missing_values=np.nan, strategy='median')
imp.fit(test_features)
imp.transform(test_features)

# construct predictions 
test_df['predicted'] = rf.predict(test_features)
print("MSE_rf", mean_squared_error(test_df['rent'], test_df['predicted']))
test_df = test_df.drop('predicted', 1)

test_df['predicted'] = gb.predict(test_features)
print("MSE_gb", mean_squared_error(test_df['rent'], test_df['predicted']))
test_df = test_df.drop('predicted', 1)

test_df['predicted'] = ab.predict(test_features)
print("MSE_ab", mean_squared_error(test_df['rent'], test_df['predicted']))
test_df = test_df.drop('predicted', 1)

test_df['predicted'] = br.predict(test_features)
print("MSE_br", mean_squared_error(test_df['rent'], test_df['predicted']))
test_df = test_df.drop('predicted', 1)

test_df['predicted'] = lreg.predict(test_features)
print("MSE_lreg", mean_squared_error(test_df['rent'], test_df['predicted']))
test_df = test_df.drop('predicted', 1)

test_df['predicted'] = knn_gs.predict(test_features)
print("MSE_knn", mean_squared_error(test_df['rent'], test_df['predicted']))
test_df = test_df.drop('predicted', 1)

test_df['predicted'] = voter.predict(test_features)
print("MSE_voter", mean_squared_error(test_df['rent'], test_df['predicted']))
test_df = test_df.drop('predicted', 1)

MSE_rf 570364.2794636443
MSE_gb 2133050.236497565
MSE_ab 5835605.475630233
MSE_br 447217.7302967674
MSE_lreg 3680742.7922809115
MSE_knn 3197265.023415816
MSE_voter 1347268.2668490182

#### Predict and Measure Using Test 1 (Randomized Search CV)

In [0]:
test_df['predicted'] = rf_random.predict(test_features)   #Testing randomized search CV
print("MSE_RSCV", mean_squared_error(test_df['rent'], test_df['predicted']))
test_df = test_df.drop('predicted', 1)

test_df['predicted'] = best_random.predict(test_features)   #Testing randomized search CV
print("MSE_Best_RSCV", mean_squared_error(test_df['rent'], test_df['predicted']))
test_df = test_df.drop('predicted', 1)

MSE_RSCV 2290575.5521978405
MSE_Best_RSCV 2290575.5521978405

#### Combine Data, Predict Values for Test 2

In [0]:
master_df = train_df.append(test_df, sort=False)

# impute missing values with imputer
#imp = SimpleImputer(missing_values=np.nan, strategy='median')
#imp.fit(master_features)
#imp.transform(master_features)

master_features = master_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)

master_target = master_df['rent']

rf.fit(master_features, master_target)
gb.fit(master_features, master_target)
ab.fit(master_features, master_target)
br.fit(master_features, master_target)
lreg.fit(master_features, master_target)

params_knn = {'n_neighbors': np.arange(1, 30)}#use gridsearch to test all values for n_neighbors
knn_gs = GridSearchCV(knn, params_knn, cv=20)#fit model to training data
knn_gs.fit(master_features, master_target)

estimators=[('knn', knn_gs), ('rf', rf), ('lreg', lreg),('br',br),('ab',ab),('best_random',best_random)]
voter = VotingRegressor(estimators)
voter.fit(master_features, master_target)

VotingRegressor(estimators=[('knn',
                             GridSearchCV(cv=20,
                                          error_score='raise-deprecating',
                                          estimator=KNeighborsRegressor(algorithm='auto',
                                                                        leaf_size=30,
                                                                        metric='minkowski',
                                                                        metric_params=None,
                                                                        n_jobs=None,
                                                                        n_neighbors=5,
                                                                        p=2,
                                                                        weights='uniform'),
                                          iid='warn', n_jobs=None,
                                          param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 2...
                            ('best_random',
                             RandomForestRegressor(bootstrap=True,
                                                   criterion='mse',
                                                   max_depth=50,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=2,
                                                   min_samples_split=5,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=2000,
                                                   n_jobs=None, oob_score=False,
                                                   random_state=None, verbose=0,
                                                   warm_start=False))],
                n_jobs=None, weights=None)

#### Randomized Search CV for test 2 (Without best parameters)

In [0]:
#rf_random.fit(master_features, master_target)
best_random.fit(master_features, master_target)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=50,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=2, min_samples_split=5,
                      min_weight_fraction_leaf=0.0, n_estimators=2000,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

#### Randomized Search CV (test2)

In [0]:
submit2_features = submit2_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
submit2_df['predictions'] = rf_random.predict(submit2_features)
submit2_df['predictions'].to_csv('submission_rf.csv', header=True)

submit2_df['fake_rent'] = np.ones(submit2_df['predictions'].shape) * master_target.median()
print("MVE_rf: ", mean_squared_error(submit2_df['predictions'], submit2_df['fake_rent']))

submit2_features = submit2_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
submit2_df['predictions'] = best_random.predict(submit2_features)
submit2_df['predictions'].to_csv('submission_rf.csv', header=True)

submit2_df['fake_rent'] = np.ones(submit2_df['predictions'].shape) * master_target.median()
print("MVE_best_rf: ", mean_squared_error(submit2_df['predictions'], submit2_df['fake_rent']))

MVE_rf:  6796516.256468636
MVE_best_rf:  6796516.256468636

#### Random Forest Regressor (test2)

In [0]:
submit2_features = submit2_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
submit2_df['predictions'] = rf.predict(submit2_features)
submit2_df['predictions'].to_csv('submission_rf.csv', header=True)

submit2_df['fake_rent'] = np.ones(submit2_df['predictions'].shape) * master_target.median()
print("MVE_rf: ", mean_squared_error(submit2_df['predictions'], submit2_df['fake_rent']))

MVE_rf:  7469921.004313083

#### GradientBoosting Regressor (test2)

In [0]:
submit2_features = submit2_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
submit2_df['predictions'] = rf.predict(submit2_features)
submit2_df['predictions'].to_csv('sample_submission2.csv', header=True)

submit2_df['fake_rent'] = np.ones(submit2_df['predictions'].shape) * master_target.median()
print("MVE_gb: ", mean_squared_error(submit2_df['predictions'], submit2_df['fake_rent']))

MVE_gb:  7469921.004313083

#### ABoost Regressor (test2)

In [0]:
submit2_features = submit2_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
submit2_df['predictions'] = ab.predict(submit2_features)
submit2_df['predictions'].to_csv('submission_ab.csv', header=True)

submit2_df['fake_rent'] = np.ones(submit2_df['predictions'].shape) * master_target.median()
print("MVE_ab: ", mean_squared_error(submit2_df['predictions'], submit2_df['fake_rent']))

MVE_ab:  12070655.83057286

#### Bagged Regressor (test2)

In [0]:
submit2_features = submit2_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
submit2_df['predictions'] = br.predict(submit2_features)
submit2_df['predictions'].to_csv('submission_br.csv', header=True)

submit2_df['fake_rent'] = np.ones(submit2_df['predictions'].shape) * master_target.median()
print("MVE_br: ", mean_squared_error(submit2_df['predictions'], submit2_df['fake_rent']))

MVE_br:  7779442.2744454695

#### Linear Regression (test2)

In [0]:
submit2_features = submit2_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
submit2_df['predictions'] = lreg.predict(submit2_features)
submit2_df['predictions'].to_csv('sample_submission_lreg.csv', header=True)

submit2_df['fake_rent'] = np.ones(submit2_df['predictions'].shape) * master_target.median()
print("MVE_lreg: ", mean_squared_error(submit2_df['predictions'], submit2_df['fake_rent']))

MVE_lreg:  4765059.741542864

#### KNN Regressor (test2)

In [0]:
submit2_features = submit2_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
submit2_df['predictions'] = knn_gs.predict(submit2_features)
submit2_df['predictions'].to_csv('sample_submission_knn.csv', header=True)

submit2_df['fake_rent'] = np.ones(submit2_df['predictions'].shape) * master_target.median()
print("MVE_knn: ", mean_squared_error(submit2_df['predictions'], submit2_df['fake_rent']))

MVE_knn:  5121476.26826033

### Voting Regressor (test2)

In [0]:
submit2_features = submit2_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
submit2_df['predictions'] = voter.predict(submit2_features)
submit2_df['predictions'].to_csv('submission_vote.csv', header=True)

submit2_df['fake_rent'] = np.ones(submit2_df['predictions'].shape) * master_target.median()
print("MVE_vote: ", mean_squared_error(submit2_df['predictions'], submit2_df['fake_rent']))

MVE_vote:  6096437.819029653

## Attempt to use categorical data with our models

In [0]:
#Will look into one hot encoding and labeling